# Python version is centrally managed in deployment/python-version.sh
# Update target-version when changing minimum requirements (py311 = Python 3.11)
[tool.black]
line-length = 100
target-version = ['py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.git
  | __pycache__
  | \.venv
  | venv
  | build
  | dist
)/
'''
